---

name: Verify

"on": [push, workflow_call]

jobs:
  cfn-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: scottbrenner/cfn-lint-action@v2
      - run: cfn-lint

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: karancode/yamllint-github-action@master
        with:
          yamllint_strict: true

  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - run: pip3 install -r requirements.txt
      - run: pylint src test

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - run: pip3 install -r requirements.txt
      - run: pytest test
